<div class="contentframe">
<h1>Notes v1.1</h1>

<h2>About</h2>
This is a hobby project used to demonstrate the following technologies:
<ul>
  <li>Serverless infrastructure</li>
  <li>OAuth integration with Auth0</li>
  <li>AngularJS</li>
</ul>
All the source is available in Gitlab, and accompanying tutorials (eventually) available <a href="https://blog.athomson.co.nz">here</a>.

<h2>New Features</h2>
New in the v1.1 release:
<ul>
  <li>Use of Material UI components</li>
  <li>Created/Last Updated information displayed</li>
</ul>

<h2>Previous Versions</h2>
<h3>v1.0</h3>
v1.0 is the MVP - it is feature-complete in that it can create, edit and delete notes and it is uses Auth0 for authz/authn.  Obviously it's
visually extremely basic, UI/UX improvements are coming in a future version.

<h2>Upcoming Features</h2>
Many improvements are in the works, including:
<ul>
  <li>More note metadata used (creation date, last modified, favourites, keywords, etc.)</li>
  <li>More best-practice stuff (app manifest, performance improvements, etc.)
  <li>Better error handling and bug-fixes</li>
  <li>Tutorial written</li>
  <li>Markup support</li>
  <li>Code formatting</li>
  <li>Public publishing</li>
  <li>Sharing notes</li>
</ul>
let me know if you have any other suggestions!
<div class="contentframe">
