mat-toolbar {
  padding-left: 0px;
}

mat-toolbar > span {
  font-size: 1.5em;
  padding-right: 5em;
}
.nav-item button {
  font-size: 1em;
}

.title {
  background-color: #ffd740;
  color: black;
  height: 100%;
  padding-left: 30px;
  /* Center text */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; /* column | row */
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */
    80% 100%, /* right bottom */
    0 100% /* left bottom */
  );
}
