<mat-toolbar color="primary">
  <span class="title">NOTES</span>
  <ul class="nav navbar-nav">
      <li class="nav-item">
        <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
      </li>
      <li class="nav-item">
          <button mat-button routerLink="/about" routerLinkActive="active">About</button>
      </li>
      <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <button mat-button (click)="auth.login()">Login</button>
      </li>
      <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <button mat-flat-button color="accent" (click)="auth.register()">Register</button>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <button mat-button (click)="auth.logout()">Logout</button>
      </li>
  </ul>
</mat-toolbar>

<router-outlet></router-outlet>
