div.content {
  background-color: #e0e0e0;
}

.card {
  width: 400px;
  margin: 20px 20px 20px 20px;
  padding: 0 0 0 0;
  transition: transform .2s;
  box-shadow: 0 0px 0px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
  /* height: 300px; */
}

.card:hover {
  cursor: pointer;
  transform:rotate(1deg) scale(1.05);
  /* transform:rotate(2deg) scale(1.05); */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

mat-card-header {
  /* background-color: #f0f0f0; */
  /* background-color: #ffd740; */
  background-color: #673ab7;
  color: white;
  height: 5em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; /* column | row */
  margin: 0px 0px 0px 0px;
}

.mat-card-title {
  margin-bottom: 0px;
}

mat-card-content {
  padding: 20px 20px 20px 20px;
}

mat-card-actions {
  margin: 20px 0px 20px 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f0f0f0;
}

mat-card-footer {
  background-color: green;
}

.flex-container-actions {
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  align-content: stretch;
  display: flex;
  background-color: white;
  margin: 20px 20px 0px 20px;
  padding: 10px 10px 10px 10px;
}

.flex-container {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  display: inline-flex;
}


/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
