<!-- User is logged in -->
<div class="content">

<div *ngIf="auth.isAuthenticated()" (onload)="apiGetNotesList()">


<div class="loading-indicator" *ngIf="isloading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="flex-container-actions">
  <button mat-flat-button  color="primary" (click)="apiNewNote()">Add Note</button>
  <button mat-button  *ngIf="canDelete" color="warn" (click)="apiNewNote()">Delete</button>
  <button mat-button  *ngIf="!canDelete" disabled (click)="apiNewNote()">Delete</button>
</div>

<div class="flex-container" *ngIf="auth.isAuthenticated()">
<mat-card class="card" *ngFor="let item of noteslist; let i = index">

  <mat-card-header routerLink="/note/{{item.id}}">
    <mat-card-title>{{item.title}}</mat-card-title>
  </mat-card-header>

  <mat-card-content  routerLink="/note/{{item.id}}">
    <b>Last Modified:</b> {{item.modified}}<br/>
    <b>Created:</b> {{item.created}}
  </mat-card-content>

  <mat-card-actions>
    <mat-checkbox color="primary" (click)="toggleSelection(i)"></mat-checkbox>
  </mat-card-actions>
</mat-card>

</div>



</div>

<!-- User is not logged in -->
<div *ngIf="!auth.isAuthenticated()" (onload)="apiGetNotesList()">
  <div class="flex-container-actions">
    Login or Register to create and view notes
  </div>
</div>

</div>
