<div class="flex-container-actions">
  <button mat-flat-button color="primary" (click)="apiSaveNote()">Save</button>
  <button mat-button color="basic" routerLink="/home">Cancel</button>
  <button mat-button color="warn"  (click)="apiDeleteNote()">Delete</button>
</div>

<div class="loading-indicator" *ngIf="isloading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="form-group">
  <form class="notes-form">
    <mat-form-field class="formfield fftitle">
      <input matInput placeholder="Note Title"  value="{{notetitle}}" (input)="notetitle=$event.target.value">
    </mat-form-field>
    <mat-form-field class="formfield ffbody">
      <textarea matInput placeholder="Note Contents" value="{{notebody}}" (input)="notebody=$event.target.value" rows=20></textarea>
    </mat-form-field>
  </form>
</div>
