.formfield {
  width: 100%;
}

.fftitle {
  font-size: 2.5em;
}

.ffbody {
  font-size: 1.5em;
}

.form-group {
  background-color: white;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.flex-container-actions {
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  align-content: stretch;
  display: flex;
  background-color: white;
  margin: 20px 20px 0px 20px;
  padding: 10px 10px 10px 10px;
}
